include LICENSE
include README.md

include pytest.ini
include requirements.txt
include dev-requirements.txt

recursive-include wikked *
recursive-include tests *

global-exclude *.py[cdo] __pycache__ *.so
global-exclude .DS_Store Thumbs.db Desktop.ini
global-exclude *.swp *~ *.bak
