recursive-include wikked/resources *
include wikked/templates/*.html
include wikked/static/css/wikked.min.css
include wikked/static/fonts/*
include wikked/static/img/*.png
include wikked/static/js/require.js
include wikked/static/js/wikked.*.js
