//
// Custom Variables
// (this file isn't part of Bootstrap)
// --------------------------------------------------

// Bootstrap overrides
// -------------------------
@bodyBackground: @white;
@textColor: @grayDark;

//@monoFontFamily: "Lucida Console", Monaco, Consolas, "Courier New", monospace;

@baseFontSize: 18px;
@baseLineHeight: (@baseFontSize * 1.5);

//@linkColor: rgb(128, 128, 128);
//@linkColorHover: rgb(96, 96, 96);

