//
// Custom Variables
// (this file isn't part of Bootstrap)
// --------------------------------------------------

// Bootstrap overrides
// -------------------------
@body-bg: #fff;
@text-color: @gray-dark;

@font-size-base: 18px;
//@line-height-base: (@font-size-base * 1.5);

