
// Constants
@color-blue: #0F1FFF;
@color-blue-dark: #1D3982;
@color-orange: #B03500;
@color-green: #B6CC95;
@color-green-dark: #496B15;
@color-gray: rgb(220, 220, 220);
@color-gray-dark: rgb(170, 170, 170);
@color-code: #523C37;


// Macros
.box-shadow(@style, @c) {
  box-shadow:         @style @c;
  -webkit-box-shadow: @style @c;
  -moz-box-shadow:    @style @c;
}

