
// Article
article {
    //background-image: url(http://basehold.it/i/30);
    max-width: 768px;
    margin: 0 auto;
    padding: 0 1em;
}

// Page title decorator
.decorator, .decorator-sm {
    text-transform: uppercase;
    font-family: @font-family-sans-serif;
    font-weight: 200;
    font-size: 0.8em;
    margin-top: -0.25em;
    margin-bottom: 0.75em;
    letter-spacing: 0.1em;
    color: @color-gray-dark;
    .rev_id {
        //font-family: @font-family-monospace;
    }
}
.decorator-sm {
    font-size: 0.5em;
}

// Page info
section.info {
    margin: 1.5em 0 0 0;
    padding: 1.5em 0;
    border-top: 1px solid @color-gray-light;

    .info-categories {
        color: @color-gray-dark;
        font-weight: 300;
        text-transform: uppercase;
    }
}

// Page editing
#wmd-preview-button span {
    background: url(../img/markdown-32x20.png);
    width: 32px;
    height: 20px;
}
#wmd-input-wrapper {
    margin: 0.5em 0;
}
#wmd-input {
    height: 10em;
    width: 100%;
    //font-size: @font-size-base;
    font-family: @font-family-monospace;
    margin-bottom: 0;
    border: 1px solid @color-gray-light;
    border-radius: 0;
    border-width: 1px 1px 0 1px;
}
#wmd-input-grip {
    //background: @gray-lighter;
    height: 12px;
    border: 1px solid @color-gray-light;
    border-width: 0 1px 1px 1px;
    cursor: ns-resize;
}
#wmd-full-preview-button {
    display: inline-block;
}
#wmd-preview-wrapper {
    border: 1px solid @color-gray-light;

    #wmd-preview {
        margin: 1em;
        background: none;
    }
}
#wmd-preview {
    overflow: scroll;
}
.preview>h3 {
    margin: 0;
    padding: 0;
}
.preview-wiki-meta {
    .meta-name {
        background: @color-blue-dark;
        color: #fff;
        padding: 0.2em 0.4em 0.2em 0.6em;
        border-radius: 0.5em 0 0 0.5em;
        letter-spacing: 0.03em;
    }
    .meta-value {
        background: @color-gray-light;
        color: black;
        padding: 0.2em 0.6em 0.2em 0.4em;
        border-radius:  0 0.5em 0.5em 0;
    }
}
.commit-meta {
    margin-top: 1em;
    margin-bottom: 1em;
}

@media screen and (min-width: 48em) {
    article {
        padding: 0 2em;
    }
}

