
// Article
article {
    //background-image: url(http://basehold.it/i/30);
    margin: 0 auto;
    padding: 0 @line-height-computed;
}

// Navigation & footer
.navbar {
    color: @gray-light;
    font-size: @font-size-small;
    font-family: @font-family-sans-serif;

    a {
        text-decoration: none;
        color: @gray-light;
        &:link { color: @gray-light; }
        &:visited { color: @gray-light; }
        &:hover { color: @link-hover-color; }
        &:active { color: @gray-light; }
    }
}
// Fix Boostrap stuff we don't want.
.navbar {
    //margin-bottom: 0;
}
.navbar li a {
    line-height: floor(@font-size-small * @line-height-base);
}
.navbar-brand {
    // Make the first navigation link ("brand") the same size
    // as the rest.
    font-size: @font-size-small;
    line-height: floor(@font-size-small * @line-height-base);
}

.footer-wrapper {
    margin: 0 auto;
    padding: 0 @line-height-computed;
}
footer {
    color: @color-footer-dark;
    border-top: 1px solid @color-footer;
    padding: @line-height-computed 0;
    font-weight: 300;
    font-size: @font-size-small;
    font-family: @font-family-sans-serif;
    letter-spacing: -0.03em;

    a {
        text-decoration: none;
        color: @color-footer-dark;
        &:link { color: @color-footer-dark; }
        &:visited { color: @color-footer-dark; }
        &:hover { color: @color-green-dark; text-decoration: none; }
        &:active { color: @color-footer-dark; }
    }
    ul {
        list-type: none;
    }
    li {
        display: inline-block;
        margin: 0;
        padding: 0 0.5em;
    }
    /*li:before {
        content: '•';
        font-weight: 700;
        margin: 0 0.5em;
    }
    li:first-child:before {
        content: none;
    }*/
}

// Page title decorator
.decorator, .decorator-sm {
    text-transform: uppercase;
    font-family: @font-family-sans-serif;
    font-weight: 200;
    font-size: 0.7em;
    letter-spacing: 0.1em;
    color: @color-footer;
    .rev_id {
        font-family: @font-family-monospace;
    }
}
.decorator-sm {
    font-size: 0.5em;
}

// Page info
section.info {
    margin: @line-height-computed 0 0 0;
    padding: @line-height-computed 0;
    border-top: 1px solid @color-footer;

    .info-categories {
        color: @color-footer-dark;
        font-weight: 300;
        font-size: @font-size-small;
        font-family: @font-family-sans-serif;
        text-transform: uppercase;
    }
}

// Main page classes
/*.wrapper>article {
    .box-shadow(0 0 10px, rgb(210, 210, 210));
    background: @colorPage;
    overflow: hidden;

    header {
        background: @colorBlueDark;
        color: @colorPage;
    }
    footer {
        background: @colorFooter;
        border-top: 1px dashed darken(@colorFooter, 5%);
    }
    pre {
        margin-top: @line-height-computed;
    }
}
.wrapper>article>header,
.wrapper>article>section,
.wrapper>article>footer {
    padding: @line-height-computed;
}
.wrapper>footer {
    font-size: @font-size-small;
}
.special>article {
    background: @colorGreen;
}
.special>article header {
    background: @colorGreenDark;
}
.special>article footer {
    background: @colorGreen;
}
*/

// Search
ul#search-preview {
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        background: #fff;
        border: 1px solid #eee;
        margin: 0;
        padding: 0;
    }
    a {
        margin: 0;
        padding: 0.5em;
        display: inline-block;
        width: 100%;
    }
}
ul.search-results {
    list-style: none;
}
b.match {
    background: #ffeb84;
}

// Page editing
#wmd-button-bar { float: left; }
#wmd-extra-bar { width: 100px; }
#wmd-preview-button span {
    background: url(../img/markdown-32x20.png);
    width: 32px;
    height: 20px;
}
#wmd-input-wrapper {
    margin: 0.5em 0;
}
#wmd-input {
    height: 10em;
    font-size: @font-size-base;
    font-family: @font-family-monospace;
    margin-bottom: 0;
    border: 1px solid @gray-light;
    border-radius: 0;
    border-width: 1px 1px 0 1px;
}
#wmd-input-grip {
    background: @gray-lighter;
    height: 12px;
    border: 1px solid @gray-light;
    border-width: 0 1px 1px 1px;
    cursor: ns-resize;
}
#wmd-full-preview-button {
    display: inline-block;
}
//#wmd-preview-wrapper {
//    border: 1px dashed @colorBlueDark;
//
//    h3 {
//        margin: 0.5em 1em 0.5em 1em;
//    }
//    #wmd-preview {
//        margin: 1em;
//        background: none;
//    }
//}
//#wmd-button-bar li {
//    margin-left: 0;
//}
.preview>h3 {
    margin: 0;
    padding: 0;
}
.preview-wiki-meta {
    .meta-name {
        background: @color-blue-dark;
        color: #fff;
        padding: 0.2em 0.4em 0.2em 0.6em;
        border-radius: 0.5em 0 0 0.5em;
        font-variant: small-caps;
        letter-spacing: 0.18em;
    }
    .meta-value {
        background: @color-footer;
        color: black;
        padding: 0.2em 0.6em 0.2em 0.4em;
        border-radius:  0 0.5em 0.5em 0;
    }
}
.commit-meta {
    margin-top: 1em;
    margin-bottom: 1em;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
    article, .footer-wrapper {
        width: 700px;
    }
    .wide {
        width: 100%;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {
}

