<!doctype html>
<html>
    <head>
        <title>Wikked</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/css/wikked.min.css" />
    </head>
    <body>
        <div id="app" class="container">
        </div>
        <script src="/js/require.js"></script>
        <script src="/js/wikked.min.js"></script>
        <!--script type="text/javascript">
            var require = {
                baseUrl: "/",
                deps: ["/js/wikked.js{{cache_bust}}"]
            };
        </script>
        <script src="/js/require.js"></script-->
    </body>
</html>
