<!doctype html>
<html>
    <head>
        <title>Wikked</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/static/css/wikked.min.css" />
    </head>
    <body>
        <div id="app">
        </div>
        <script type="text/javascript">
            var require = {
                baseUrl: "/static/",
                deps: ["/static/js/wikked.js{{cache_bust}}"]
            };
        </script>
        <script src="/static/js/require.js"></script>
    </body>
</html>
