<a id="wiki-menu-shortcut" class="wiki-logo">
    <span>W</span>
</a>
<nav id="wiki-menu" role="navigation" class="pure-menu pure-menu-open">
    <div id="wiki-menu-header" title="Pin/unpin the wiki menu.">
        <i id="wiki-menu-lock" class="fas fa-{{nav.lock_icon}}"></i>
    </div>
    <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="/"><i class="fas fa-home"></i> Home</a></li>
        <li class="pure-menu-item"><a href="/special"><i class="fas fa-tachometer-alt"></i> Special Pages</a></li>
        <li class="pure-menu-item"><a href="/create/"><i class="fas fa-file"></i> New Page</a></li>
    </ul>
    <form role="search" id="search" class="pure-form pure-menu-form pure-menu-divider">
        <fieldset>
            <input type="text" name="q" id="search-query" class="pure-input-1" placeholder="Search..." autocomplete="off"></input>
            <ul id="search-preview"></ul>
        </fieldset>
    </form>
    <ul class="pure-menu-list">
        {%if auth.is_logged_in%}
        <li class="pure-menu-item"><a href="{{auth.url_profile}}"><i class="fas fa-cog"></i> {{auth.username}}</a></li>
        <li class="pure-menu-item"><a href="{{auth.url_logout}}"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
        {%else%}
        <li class="pure-menu-item"><a href="{{auth.url_login}}"><i class="fas fa-sign-in-alt"></i> Login</a></li>
        {%endif%}
    </ul>
</nav>
